body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  margin: 0;
  font-family: Arial;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 300x;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  box-sizing: border-box;
}

h1 {
  color: #333;
}

.password-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

#password {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

#togglePassword {
  position: absolute;
  right: 10px;
  top: calc(50% - 7px);
  cursor: pointer;
  color: #666;
}
